@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
body{
 background: #044a75;
    color: #f9fafc;
    font-family: 'Open Sans', sans-serif;
} 

h2{
    color: black;
    text-align: center;
}
svg{
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 40px
}
form{
    margin: auto;
    width: 30%;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    padding: 30px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    margin-top: 50px;
    background-color: white;
    box-sizing: border-box;
}
input{
    margin: 20px 0px;
    height: 50px;
    border-radius: 2px;
    width: 100%;

}
hr{
    color: black;
    height: 1px;
}
label{
    color: black;
    font-size: 18px;
    font-weight: 600;
}
::placeholder{
    padding: 2px;
}
input[type="submit"]{
    background-color: #0092FF;
    border: none;
    color: white;
    font-size: 18px;
    font-weight: 500;
}


.google_signin_login{margin-top:1rem
}.google_signin_button{background:#fff;border:1px solid #4285f4;color:#1f2d3d;display:block;font-size:1.01395948rem;line-height:2.5rem;text-align:center;text-decoration:none}
.google_signin_button__logo{
    background:#fff;
    height:2.5rem;
    margin-right:.8125rem;
    padding:calc(.6875rem - 1px);
    vertical-align:bottom;
    display: inline;
    width:2.5rem}
    .google_signin_button,
    .google_signin_button__logo{
        border-radius:3px}
        .google_signin_hr{border:0;height:2rem;line-height:.5rem;margin-bottom:.75rem;outline:0;position:relative;text-align:center;text-transform:uppercase}.google_signin_hr:before{background:#c0ccda;content:"";height:1px;left:0;position:absolute;top:50%;width:100%}.google_signin_hr:after{background-color:#fff;color:#1f2d3d;content:attr(data-content);display:inline-block;line-height:2rem;padding:0 .5rem;position:relative}

