#body{
    margin:0;
    padding: 0;
}
#mainDiv{
    height:512px;
    width:100%;
    
    background-color: #afb3bb;
    display: flex;
    }
    #button{
        background-color:  #ffd201;
        border: none;
        padding:8px 58px 8px 58px;
        font-weight: bolder;
        border-radius: 5px;
        
   
    }
    #innerdiv{
        margin-left:130px;
        margin-top:110px;  
    }
    h1{
        font-size: 60px;
        color: 
        #091e3f;
        line-height: 60px;
        margin-top: 25px;
    }
    p{
        line-height: 25px;
        color: #606469;
        font-size: 19px;
        letter-spacing: normal;
    
        
    }
    .para{
margin-top: -20px;
    }
/* ***************************************** */
#mainDiv>#image{
    height:300px;
    width: 30%;
 
  /* background-color:  #ffd201; */
    margin-left: 110px;
    margin-top:140px ;
    border-width: 4px;
    border-color: #ffd201;
}
 img{
 
    
width:100%;

  
} 


/* mid part */

#customer{
    margin-top: 50px;
width:100%;
height: 100px;
text-align: center;
}
#customer>h1{
    color:
    #091e3f;
}
#customer>p{
    color:
    #7a6469;
    font-size: 21px;
    margin-top:-10px;
}
/* ************ */
#selectors{
    display:flex;
justify-content: center;
gap:60px;
margin-top: 70px;
}
#selectors>div{
    display:flex;
    align-items: center;
   
}
select{
    border-radius: 30px;  
    padding:25px 30px 25px 30px;
}
#selectors>div>h3{
    margin-right: 10px;
    color:
    #091e3f;
}
/* boxes */
#container{
  
 width:80%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: auto;
    gap:30px;
    margin-left: 150px;
    margin-top: 70px;
}

#container>div>.img1{
background-color:#ffd201;

text-align: center;

}
#container>div>.img1>img{
    width:80%;
    margin-top:70px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 70px;
    
    
}
img:hover{
    cursor: zoom-in;
}
#img1button{
    border:1 px solid black;
    font-weight: bold;
    padding:8px;
    margin-top: 10px;
    margin-bottom: 30px;
}
#container>div>a{
    text-decoration: none;
    color: #0092ff;
}
#container>div>.img2{
    background-color: 
    #0092ff;
    
    text-align: center;
    
    }
    #container>div>.img3{
        background-color:#0092ff;
        
        text-align: center;
        
        }
        #container>div>.img4{
            background-color:#ffd201;
            
            text-align: center;
            
            }
            #container>div>.img5{
                background-color:#ffd9d4;
                
                text-align: center;
                
                }
                #container>div>.img6{
                    background-color: #0161e5;
                    
                    text-align: center;
                    
                    }
                    #container>div>.img2>img{
                        width:80%;
                        margin-top:70px;
                        margin-left: 20px;
                        margin-right: 20px;
                        margin-bottom: 70px;
                        padding:10px;
                        
                        
                    }
                    #container>div>.img3>img{
                        width:80%;
                        margin-top:70px;
                        margin-left: 20px;
                        margin-right: 20px;
                        margin-bottom: 70px;
                        padding:12px;
                        
               
                    }
                    #container>div>.img4>img{
                        width:80%;
                        margin-top:70px;
                        margin-left: 20px;
                        margin-right: 20px;
                        margin-bottom: 70px;
                       
                    }
                    #container>div>.img5>img{
                        width:80%;
                        margin-top:60px;
                        margin-left: 20px;
                        margin-right: 20px;
                        margin-bottom: 60px;
                       
                    }
                    #container>div>.img6>img{
                        width:80%;
                        margin-top:57px;
                        margin-left: 20px;
                        margin-right: 20px;
                        margin-bottom: 57px;
                       
                    }
                    #container>div>h2>{
                        color:
                        #091e3f;
                    }  
                 #img2button{
                        border:1 px solid black;
                        font-weight: bold;
                        padding:8px;
                        margin-top: 10px;
                        margin-bottom: 30px;
                    }
                    #img3button{
                        border:1 px solid black;
                        font-weight: bold;
                        padding:8px;
                        margin-top: 10px;
                        margin-bottom: 30px;
                    }
                    #img4button{
                        border:1 px solid black;
                        font-weight: bold;
                        padding:8px;
                        margin-top: 10px;
                        margin-bottom: 30px;
                    }
                    #img5button{
                        border:1 px solid black;
                        font-weight: bold;
                        padding:8px;
                        margin-top: 10px;
                        margin-bottom: 30px;
                    }
                   #button6{
                    margin-bottom: 30px;
                   }
                   #newbutton{
                    margin-top: 70px;
                    margin-left: 140px;
                    color:#606469;
                   }
                   #newbutton>button{
                    margin-left:5px;
                    padding: 10px;
                    border: none;
                    border-radius: 3px;
                    color:#606469;
                   }
                   #newbutton>button:hover{
                    background-color: #044a75;
                   }
                   hr{
                    margin-top: 80px;
                   }
                   #a{
                    display:flex;
                    
                    height: 200px;
                    width: 100%;
                  
                  
                   }
                 #a>div{
                    height: 200px;
                    width:30%;
                    
                    margin-left: 150px;
                 }
                 #a>div>img{
                    width:30%;
                    margin-left: 30px;
                    margin-top: 30px;
                    
                 }
                 #b{
                    display:flex;
                 }
               #b>h2{
                margin-top: 60px;
        
               }
               #a>div>button{
                padding:20px 30px 20px 30px;
                border-radius: 20px;
                margin-left: 100px;
                margin-top: 70px;
                font-weight: bold;
                color: white;
                background-color: 
                #0092ff;
                border: none;
               }
               #line{
                margin-top: 50px;
               }
               #c{
                display:flex;
                gap:50px;
                margin-top: 100px;
               }
               #c>div{
             
                margin-left: 190px;
               }
               #c>div>h2{
                font-size: 35px;
                margin-top: -8px;
                color:  #091e3f;;
               }
               #anchor{
                color:#0092ff;
             
               }
               #lastd{
                height: 500px;
                width:100%;
                background-color:#091e3f;
                color: white;
                margin-top: 50px;
            }
            #lastd>div{
                padding-top:120px;
            }
            #lastd>div>p{
                margin-left: 190px;
            }
.pp{
    color:white;
    font-weight: bold;
}
.kk{
    color:white;
}
                
                #lastd>div>h2{
                  margin-left: 190px;
                  
                }
                #h2tag{
                    font-size: ;
                    font-weight: 300;
                }
              


                
              






   
  